/* Background Colors */
:root {
  --dark-color: #242424;
  --light-color: #FFFFFF;
  --primary-color: #0069D9;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

header {
  background: url(../assets/pianopic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
h1 {
  font-size: 4rem;
  
}
h2 {
  font-size: 2.7rem;
}
ul {
  list-style-type: none;
}
.container {
  padding: 8rem 0;
}
.section-title {
  font-weight: bold;
  font-size: 3rem;
}


/* Navbar */

.navbar {
  background-color: var(--dark-color);
}
.navbar .container {
  padding: 1.7rem 0;
}
.navbar-brand {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 2rem;
}


/* Hero */

.hero {
  margin-top: 4rem;

}
.hero-header {
  font-weight: 900;
  font-size: 8rem;
  font-family: 'Caveat', cursive;
}
.hero-subheader{
  font-size: 2rem;
}

/* Features */

.features p {
  padding: 0 0.7rem;
}

/* Video */

iframe {
  width: 50%;
  margin-top: 7rem;
}

@media (max-width: 920px) {
  iframe {
    width: 100%;
  }
}

/* Pricing */
.pricing {
  background-color: var(--dark-color);
}


/* Footer */
footer {
  background-color: lightgray;
}
footer .container {
  padding: 2rem 0;
}
